p{
    background-color: rgb(173, 174, 184);
    color: #000;
    display: block;
    padding: 3%;
    display: block;
    margin: 0 red;
    margin-top: 10% color: red;
    align-content: start;

}
div{
    background-color: aqua;
    width: fit-content;
    

}